<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Edit <%=post.name%>'s Info</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/posts">Posts Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Post Attributes:</h2>
      <form action="/posts/<%=post._id%>?_method=PUT" method="post">
        
      Name: <input type="text" name="name" value="<%=post.name%>"/><br />
      Date: <input type="text" name="date" value="<%=post.date%>"/><br/>
      <label class="notesLabel">Notes:</label> <textarea name="notes" /><%=post.notes%></textarea><br/>
      <input type="submit" value="Submit Changes"/>
    </form>
  </body>
</html>
